<nav>
  <div class="container-fluid nav">
    <span class="col-6">UFO Sightings</span>
    <a href="sightingForm" class="col-2">Submit One</a>
    <a class="col-2" href="/shape">Shapes Found</a>
    <a href="/" class="col-2">All Seen</a>
  </div>
</nav>
